.clip__title {
    font-size: 36px;
    line-height: 39px;
    font-weight: 900;
    margin: 0;
    max-width: 300px;
}


@media(max-width: 375px) {
    .clip__title {
        font-size: 24px;
        margin-bottom: 2px;
        line-height: 26px;
    }
}